<mat-toolbar color="accent">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title"> Office-js Community Call </span>
</mat-toolbar>
<mat-drawer-container class="app-container">
  <mat-drawer mode="over" #sidenav class="app-drawer">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['']" (click)="sidenav.close()">Home </a>
      <a mat-list-item [routerLink]="['web-worker']" (click)="sidenav.close()"> Web Worker </a>
      <a mat-list-item [routerLink]="['indexed-db']" (click)="sidenav.close()"> Indexed Db </a>
      <a mat-list-item [routerLink]="['web-socket']" (click)="sidenav.close()"> Web Sockets </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
